
:root {
  --state: paused;
  --stopwatch-size: 40;
  --stopwatch-face-bg: #ffffff;
  --stopwatch-bg: #000000;
  --stopwatch-color: #ffffff;
  --control-bg: #333333;
  --control-color: #ffffff;
  --secondhand-color: #f1a33b;
  --success-bg: #122914;
  --success-color: #67ce67;
  --danger-bg: #2e100d;
  --danger-color: #eb5545;
}

/* #region Base styles  */

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  font-family: sans-serif;
  font-size: 2.5vmin;
  line-height: 1;
  overflow: hidden;
  color: var(--stopwatch-color);
  background-color: var(--stopwatch-bg);
  box-sizing: border-box;
}

[type="checkbox"] {
  position: fixed;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border-width: 0;
}

.stopwatch__digits--alfa {
  display: var(--alfa, none) !important;
}

.stopwatch__digits--beta {
  display: var(--beta, none) !important;
}

.stopwatch__digits--gamma {
  display: var(--gamma, none) !important;
}

/* #endregion  */

/* #region Init animation variables */

:where(#start:checked, #pause:checked) ~ .stopwatch__content .stopwatch__digit {
  --name: stopwatch;
}

:where(#start:checked, #pause:checked) ~ .stopwatch__content .stopwatch__secondhand {
  --name: secondhand;
}

#start:checked ~ .stopwatch__content {
  --state: running;
}

#pause:checked ~ .stopwatch__content {
  --state: paused;
}

/* #endregion */

/* #region Stopwatch styles */

.stopwatch__content {
  position: relative;
  z-index: 1;
  width: calc(var(--stopwatch-size, 50) * 1vmin);
  height: calc(var(--stopwatch-size, 50) * 1vmin);
  background: repeating-conic-gradient(var(--control-bg) -.5deg .5deg, var(--stopwatch-bg) .5deg 5.5deg);
  border-radius: 50%;
  /* Bonus example  */
  /*
    background:
      repeating-conic-gradient(var(--stopwatch-color) -.5deg .5deg, transparent .5deg 14.5deg),
        repeating-conic-gradient(var(--control-bg) -.5deg .5deg, var(--stopwatch-bg) .5deg 2.5deg);
  */
}

.stopwatch__content::after {
  content: "";
  position: absolute;
  inset: 16px;
  background-color: var(--stopwatch-bg);
  border-radius: inherit;
}

.stopwatch__secondhand {
  position: absolute;
  left: calc(50% - .1vmin);
  z-index: 2;
  width: .2vmin;
  height: calc(var(--stopwatch-size, 50) * 1vmin / 2 + 5vmin);
  background-color: var(--secondhand-color);
  transform: rotate(0);
  transform-origin: center calc(var(--stopwatch-size, 50) * 1vmin / 2);
  animation: var(--name, none) var(--duration, 1s) infinite steps(var(--steps)) var(--state);
}

.stopwatch__axis {
  position: absolute;
  inset: 0;
  z-index: 3;
  width: 1.5vmin;
  height: 1.5vmin;
  margin: auto;
  background-color: var(--stopwatch-bg);
  border: .2vmin solid var(--secondhand-color);
  border-radius: 50%;
}

.stopwatch__face {
  content: counter(section);
  position: absolute;
  left: calc(50% - .2vmin);
  z-index: 1;
  display: block;
  width: .4vmin;
  height: 2.5vmin;
  counter-increment: face-second 5;
  background-color: var(--stopwatch-face-bg);
  transform: rotate(var(--face-deg));
  transform-origin: 50% calc(var(--stopwatch-size) * 1vmin / 2);
}

.stopwatch__face::after {
  content: counter(face-second);
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  line-height: 1.5;
  transform: rotate(calc(-1 * var(--face-deg)));
}

.stopwatch__digits {
  position: absolute;
  top: 70%;
  left: 50%;
  z-index: 1;
  display: flex;
  transform: translate(-50%, -50%);
}

.stopwatch__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stopwatch__control {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10vmin;
  height: 10vmin;
  font-family: inherit;
  font-size: 1.8vmin;
  line-height: 1;
  color: var(--control-color);
  background-color: var(--control-bg);
  border: .2vmin solid var(--control-bg);
  border-radius: 50%;
  box-shadow: inset 0 0 0 .2vmin var(--stopwatch-bg);
  appearance: none;
  cursor: pointer;
  pointer-events: all;
  user-select: none;
}

.stopwatch__pause {
  --control-bg: var(--danger-bg);
  --control-color: var(--danger-color);
}

.stopwatch__resume,
.stopwatch__start {
  --control-bg: var(--success-bg);
  --control-color: var(--success-color);
}

.stopwatch__pause,
.stopwatch__resume {
  display: none;
}

#start:checked ~ .stopwatch__controls .stopwatch__pause,
#pause:checked ~ .stopwatch__controls .stopwatch__resume {
  display: flex;
}

#start:checked ~ .stopwatch__controls .stopwatch__start,
#pause:checked ~ .stopwatch__controls .stopwatch__pause {
  display: none;
}

/* #endregion */

/* #region Init variables */

.ms--tens {
  --duration: 1s;
  --steps: 10;
}

.ms--singles {
  --duration: .1s;
  --steps: 10;
}

.s--tens {
  --duration: 60s;
  --steps: 6;
}

.s--singles {
  --duration: 10s;
  --steps: 10;
}

.m--tens {
  --duration: 3600s;
  --steps: 6;
}

.m--singles {
  --duration: 600s;
  --steps: 10;
}

.stopwatch__secondhand {
  --duration: 60s;
  --steps: 6000;
}

/* #endregion */

/* #region Keyframes */

@keyframes secondhand {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes stopwatch {
  to {
    transform: translateY(-100%);
  }
}

/* #endregion */
